.typewriter {
  display: inline-block;
  position: relative;

  .typewriter-text {
    display: inline;
  }

  .typewriter-cursor {
    display: inline-block;
    margin-left: 2rpx;
    animation: blink 1s infinite;
    color: inherit;
  }
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
