@import 'taro-ui/dist/style/components/search-bar.scss';
@import 'taro-ui/dist/style/components/tabs.scss';
@import 'taro-ui/dist/style/components/load-more.scss';
@import 'taro-ui/dist/style/components/message.scss';
@import 'taro-ui/dist/style/components/activity-indicator.scss';
@import 'taro-ui/dist/style/components/icon.scss';
@import 'taro-ui/dist/style/components/badge.scss';
@import 'taro-ui/dist/style/components/float-layout.scss';
@import 'taro-ui/dist/style/components/rate.scss';
@import 'taro-ui/dist/style/components/tag.scss';
@import 'taro-ui/dist/style/components/timeline.scss';
